name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Generate
      run: go generate -v ./... && git diff --exit-code

    - name: Build
      run: go build -v -o /dev/null ./...

    - name: Test
      run: go test -v ./...

    - name: Test (with -race)
      run: go test -v -race ./...

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: v2.5.0

    - name: Run JSLint
      run: |
        ./jslint.sh internal/server/static/script.js
